.content {
  display: flex;
  flex-direction: column;
}

.not-books {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

/* Book  */
.book {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 1px 2px #b8e5f7;
  border: 1px solid #b5e5f7;
  margin: 10px;
  padding: 10px;
  display: flex;
}

.book .book-img {
  width: 137px;
  margin-right: 30px;
}

.book .book-title,
.book a {
  font-weight: bold;
  color: black;
}

.book .book-list {
  display: flex;
  flex-wrap: wrap;
}

.book .book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  height: 100%;
}

.btn-add {
  background: #ffc53b;
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 170px;
  font-weight: bold;
}
